 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 56px 98px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-form-1 {
  height: 317px;
  width: 570px;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}